name: Deploy

on:
  workflow_dispatch:


jobs:
  Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Deploy with hook
      run: curl ${{ secrets.DEPLOY_HOOK }}
