name: Push CI
on: 
  push:
    branches:
      - main
      - dev

permissions:
  issues: write
  contents: read
    
jobs:
  TodoList:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: TODO to Issues
        uses: alstr/todo-to-issue-action@v5.1.13     
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
